<div class="uk-width-medium-1-2 uk-container-center">

  <h2>Welcome to a simple Google Maps demo</h2>

{{google-map lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='terrain'
             markerInfoWindowTemplateName='map/info-window'
             markers=model
}}

  <div class="controls">
    <label>
      Zoom:
      {{input type="range" value=zoom min=0 max=18 step=1}}
    </label>
  </div>
</div>
